.main-content {
  background-color: rgba(255, 255, 255, 0.226);
  padding: 1.5%;
}

.site-layout-background {
  margin-top: 65px;
  padding: 10px;
  margin-left: 80px;
  background: rgb(255, 255, 255);

  transition: margin-left 0.1s;
}
.site-layout-background-uncollapsed {
  margin-top: 65px;
  padding: 10px;
  margin-left: 225px;
  background: rgb(255, 255, 255);
  transition: margin-left 0.1s;
}
@media screen and (max-width: 700px) {
  .ml {
    margin-left: 0px;
  }
}