.title {
  margin-top: 20px;
  margin-left: 15px;
  padding-right: 150px;
  color: #00000080;
  transition: color 0.5s;
}
.title:hover {
  cursor: default;
  color: #000000f1;
  text-shadow: 0 0 3px #ff00006c;
}

@media screen and (max-width: 1200px) {
  .title {
    display: none;
  }
}
