.header {
  height: 65px;
  width: 100%;

  padding-left: 0px;

  display: flex;

  float: left;

  background-color: #ffffff;
}

.header-extention {
  text-align: right;
  margin-left: auto;
  order: 2;

  height: 65px;
}

.main-head {
  padding-left: 0px;
  padding-right: 3%;
  display: flex;

  width: 100%;
  height: 65px;

  background-color: #ffffff;

  border-bottom-style: solid;
  border-color: #ffffff65;
  border-width: 1px;
  box-shadow: 2.5px 5px 4px #8888881f;
}

.trigger {
  font-size: 22px;

  margin-left: 85px;
  margin-top: 25px;

  cursor: pointer;
  transition: color 1s;
  color: #997b7b;
}

.trigger:hover {
  color: #292323;
}

.trigger-copy {
  font-size: 22px;

  margin-top: 25px;
  margin-left: 15px;

  cursor: pointer;
  transition: color 0.1s;
  color: #1d1c1c;

  visibility: hidden;
}

.left-logo {
  text-align: left;
}

.logo {
  height: 25px;
  margin-left: 30px;
  transition: height 0.5s;
}

.logo-uncollapsed {
  margin-left: 100px;
  height: 35px;
}

@media screen and (max-width: 700px) {
  .trigger {
    display: none;
  }
  .trigger-copy {
    visibility: visible;
  }

  .right-logo {
    text-align: center;
    padding-left: 0px;
    width: 100%;
  }

  .left-logo {
    display: none;
  }

  .logo-again {
    height: 35px;
  }

  .logo-uncollapsed {
    margin-left: 0px;
    height: 35px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media screen and (max-width: 1200px) {
  .header {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .logo-again {
    display: none;
  }
}
